<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>My workout details</title>
    <!-- user can see only their own -->
</head>

<body>

    <div class="container">
        <br>
        <td> <a href="/workouts">Back to workouts</a></td> <br>

        <h3>Workout</h3>
        <p>Date: <span th:text="${#temporals.format(workout.date, 'dd.MM.yyyy')}">Date of workout</span></p>
        <p>Location: <span th:text="${workout.location}"></span>, <span th:text="${workout.place}"></span></p>
        <p>Notes: <span th:text="${workout.notes}"></span></p>
        <td> <a th:href="@{/edit/{id}(id=${workout.workoutid})}">Edit</a></td> <br>
        <td> <a th:href="@{/delete/{id}(id=${workout.workoutid})}">Delete this workout</a></td> <br>
        <td> <a th:href="@{/details/{id}/addroute(id=${workout.workoutid})}">Add new climbed route</a></td>

        <h3>Individual routes </h3>
        <div class="row">
                <table>
                    <tr>
                        <th>Type</th>
                        <th>Grade</th>
                        <th>Notes</th>
                    </tr>
                    <tr th:each="route : ${routes}">
                        <td th:text="${route.type}"></td>
                        <td th:text="${route.grade}"></td>
                        <td th:text="${route.notes}"></td>
                        <td> <a th:href="@{/details/delete/{id}(id=${route.routeid})}">Delete</a></td>
                    </tr>
                </table>
        </div>
    </div>

</body>

</html>