<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Workout list</title> 
    <!-- everyone can see -->
</head>

<body>

    <div class="row">
        <div class="col s10 offset-s1">
            <a href="/addworkout">Add new workout</a>  

            <table class="highlight">
                    <tr>
                        <th>Date</th>
                        <th>Location</th>
                        <th>Place</th>
                        <th>Notes</th>
                    </tr>
                    <tr th:each="workout : ${workouts}">
                        <td th:text="${{workout.date}}"></td>
                        <td th:text="${workout.location}"></td>
                        <td th:text="${workout.place}"></td>
                        <td th:text="${workout.notes}"></td>
                        <td> <a th:href="@{/details/{id}(id=${workout.workoutid})}">Details</a></td>

                        </tr>
                    </table>
        </div>
    </div>
</body>

</html>
